<section class="intro-section">
  <h2>My Experience</h2>
  <p class="intro-summary">
    Over the past 4 years, I’ve gained expertise in software testing, cloud infrastructure, operations, and reliability engineering. 
    I’ve worked on everything from automated testing and cloud-native design to enhancing application deployments and improving system observability. 
    Collaborating with dev and product teams, I’ve helped create scalable, reliable systems that deliver better software experiences. 
    I’m passionate about exploring new technologies, finding the right tools for the job, and leveraging my broad understanding of the entire software development lifecycle to make meaningful contributions to any team.
  </p>

  <div class="experience-grid">
    <div class="experience-col">
      <div class="icon-wrapper">
        <img src="testing.png" alt="Testing icon">
      </div>
      <h3>Testing</h3>
      <p>
        I designed and managed both an automated end-to-end test suite and a load testing framework, led release night testing efforts, 
        and ensured quality through smoke tests and manual validation of new features.
      </p>
      <hr class="green-divider">
      <ul class="bold-list">
        <li>Playwright</li>
        <li>Cypress</li>
        <li>Cucumber</li>
        <li>Artillery</li>
        <li>AWS Fargate</li>
        <li>Jira/Confluence</li>
      </ul>
    </div>

    <div class="experience-col">
      <div class="icon-wrapper">
        <img src="cloud.png" alt="Cloud icon">
      </div>
      <h3>Cloud Infrastructure</h3>
      <p>
        I built cloud-native solutions to modernize our architecture, created a sandbox environment mirroring production for experimenting with cloud technologies, 
        developed and managed APIs, and worked on enhancing cloud networking to ensure efficient and scalable systems.
      </p>
      <hr class="green-divider">
      <ul>
        <li>
          <strong>Cloud Networking</strong>
            <li>VPC, subnets, SG, Peering Connections, WAF, etc</li>
        </li>
        <li>
          <strong>Frontend Web Hosting</strong>
            <li>Route 53, CloudFront, S3, ACM Certificates</li>
        </li>
        <li>
          <strong>Load Balancing &amp; Load Testing</strong>
            <li>ALB, ELB, Target groups, Fargate</li>
        </li>
        <li>
          <strong>Logging and Monitoring</strong>
            <li>Cloudwatch, EC2</li>
        </li>
        <li>
          <strong>API Development</strong>
            <li>Lambda, API Gateway, DynamoDB</li>
        </li>
        <li>
          <strong>Infrastructure as Code</strong>
            <li>Terraform, CloudFormation</li>
        </li>
      </ul>
    </div>

    <div class="experience-col">
      <div class="icon-wrapper">
        <img src="operations.png" alt="Operations icon">
      </div>
      <h3>Operations</h3>
      <p>
        I have experience working with GitHub and GitLab CI/CD, improving application deployment strategies by transitioning from manual on-box deployments to blue-green solutions using IaC. 
        I’ve created temporary Linux environments integrated with package management for developer use and streamlined workflows through automation.
      </p>
      <hr class="green-divider">
      <ul class="bold-list">
        <li>GitHub/Gitlab</li>
        <li>CI/CD</li>
        <li>AWS</li>
        <li>Linux</li>
        <li>Lima</li>
        <li>Nix</li>
        <li>Bash</li>
        <li>Python</li>
      </ul>
    </div>

    <div class="experience-col">
      <div class="icon-wrapper">
        <img src="reliability.png" alt="Observability icon">
      </div>
      <h3>Reliability & Observability</h3>
      <p>
        I’ve enhanced system reliability and observability by implementing more robust monitoring, logging, and alerting solutions to ensure proactive issue detection and resolution.
      </p>
      <hr class="green-divider">
      <ul class="bold-list">
        <li>Cloudwatch</li>
        <li>Linux SystemD</li>
        <li>Fluent Bit</li>
        <li>Postgres</li>
        <li>Grafana</li>
      </ul>
    </div>
  </div>
</section>

