<section class="recent-work">
  <h2>Projects</h2>
  <div class="projects-grid">
    {{#each this.projects as |project|}}
      {{!-- template-lint-disable no-invalid-interactive --}}
      <div 
        class="project-card"
        {{on "click" (fn this.goToProject project)}}
      >
        <img
          src={{project.screenshot}}
          alt="Screenshot of {{project.title}}"
          class="project-img"
        />
          
        <div class="title-container">
          <h3>{{project.title}}</h3>
        </div>

        <div class="project-overlay">
        </div>
      </div>
    {{/each}}
  </div>
</section>

