<section class="top-section">
  <div class="info-wrapper">
    <h1>Hi, I’m Sam Bordo</h1>
    <h2>Software Development Engineer in Test </h2>
    
    <div class="profile-pic">
      <img src="profile-pic2.jpg" alt="Sam Bordo" />
    </div>
        <h3>Automation, Cloud Infrastructure Design, and Software Testing </h3>
  </div>
</section>
