<header class="project-header">
  <LinkTo @route="index" class="home-icon">
    <i class="fas fa-home"></i>
  </LinkTo>
  
  <h1>Cloud API Development </h1>
</header>

<section class="project-section">
  <h2>Overview</h2>
  <p>
    <p>
      
I’ve worked on building, testing, and maintaining a company API using AWS Lambda and API Gateway, ensuring it was reliable, scalable, and met business needs. This experience inspired me to create my own API as a personal project, using the same technology stack—Lambda, API Gateway, and DynamoDB. Through this, I gained hands-on experience designing serverless architectures, optimizing API performance, and managing data with DynamoDB, further sharpening my skills in building efficient, cloud-based solutions.
    </p>
    <br>
    <img src="/api.png" alt="api">
  </p>
</section>
<section class="project-section">
  <h2>Project Summary</h2>

    <h3>API Development with Lambda, API Gateway, and DynamoDB</h3>
    <ul class="summary-list-2">
      <li>
        <strong>Lambda</strong>
        <li>
          Used AWS Lambda to create serverless functions for handling business logic and processing API requests, ensuring efficient and cost-effective execution without the need for dedicated servers.
        </li>
      </li>
      <li>
        <strong>API Gateway</strong>
        <li>
          Leveraged API Gateway to build and deploy secure, scalable REST APIs, enabling seamless communication between clients and Lambda functions while managing traffic effectively.
        </li>
      </li>
      <li>
        <strong>DynamoDB</strong>
        <li>
          Integrated DynamoDB as a fast and reliable NoSQL database to store and retrieve data for my API, optimizing data access patterns and scalability.
        </li>
      </li>
    </ul>
    <hr class="green-divider">

    <h3>API Documentation</h3>
      <p>
        Link to my article on building the API: 
        <a href="https://medium.com/aws-in-plain-english/building-a-quote-generator-api-5966c230ca42" target="_blank" rel="noopener noreferrer">Read Article</a>
        <br>
      </p>
      <br>
  <ApiCall />
</section>