<header class="project-header">
  <LinkTo @route="index" class="home-icon">
    <i class="fas fa-home"></i>
  </LinkTo>
  
  <h1>Developing a Cloud API</h1>
</header>

<section class="project-section">
  <h2>Overview</h2>
  <p>
    Coming soon
  </p>
</section>

<section class="project-section">
  <h2>Technology &amp; Tools</h2>
  <ul>
    <li>Coming Soon</li>
    <li>Coming Soon</li>
  </ul>
</section>

<section class="project-section">
  <h2>Technical Details</h2>
  <p>
    Coming soon
  </p>
</section>
