<header class="project-header">
  <LinkTo @route="index" class="home-icon">
    <i class="fas fa-home"></i>
  </LinkTo>
  
  <h1>Implementing an E2E Test Suite</h1>
</header>

<section class="project-section">
  <h2>Overview</h2>
  <p>
    As a software development intern, I was tasked with revamping an outdated Cypress test suite that had been neglected. 
    I resolved issues with test flakiness and updated the suite to get it up and running again. 
    After the head QA engineer left the company, I transitioned to a full-time SDET role. 
    Taking ownership of all application testing, I switched to Playwright for its cross-browser support, superior flakiness handling, and integration capabilities with Artillery, the tool I chose for load testing. 
    I rebuilt the test suite to focus on valuable tests only, then integrated Playwright with Artillery to create a cohesive E2E and load testing framework, overcoming challenges by leveraging community support and collaboration with the Artillery founder.
    <br><br>
    <img src="/e2e.png" alt="e2e">
  </p>
</section>
<section class="project-section">
  <h2>Testing Summary</h2>
  <p>
    <ul class="summary-list">
    <p class="bold-list">As the sole SDET on the team, I was responsible for:</p>
      <li>E2E Testing - I chose Playwright for cross-browser support, flakiness handling, and integration with Artillery.</li>
      <li>Load Testing - I built a load testing suite using Playwright and Artillery.</li>
      <li>Manual Testing - I ensured manual validation of new features and fixes.</li>
      <li>Regression Testing - I built a regression suite using Playwright and also had manual checks before and after each release.</li>
    </ul>
  </p>
</section>
<section class="project-section">
  <h2>Technology &amp; Tools</h2>
  <ul>
    <li>
      <strong>E2E Tesitng</strong>
        <li>Playwright, Cypress, Cucumber, Javascript</li>
    </li>
    <li>
      <strong>Load Testing</strong>
        <li>Artillery, Playwright, AWS Fargate, Javascript</li>
    </li>
    <li>
      <strong>Regression Testing</strong>
        <li>Playwright, Gitlab CI/CD</li>
    </li>
    <li>
      <strong>Manual Testing</strong>
        <li>Jira/Confluence</li>
    </li>
  </ul>
</section>
