<header class="project-header">
  <LinkTo @route="index" class="home-icon">
    <i class="fas fa-home"></i>
  </LinkTo>
  
  <h1>Load Testing with Artillery </h1>
</header>

<section class="project-section">
  <h2>Overview</h2>
    <p>
      I built a load testing setup using Playwright’s E2E capabilities and the Artillery load testing tool to simulate real user behavior and test system performance. By integrating these tools, I reused existing end-to-end tests for load scenarios, making the process more efficient and streamlined. To handle high-traffic simulations, I deployed the setup on AWS Fargate, giving us a scalable, serverless solution. This approach helped ensure our applications could handle different load levels while keeping the testing process simple and effective.
    </p>
    <br>
    <img src="/artillery.png" alt="load testing">
</section>
<section class="project-section">
  <h2>Project Summary</h2>

  <h3>Load Testing with Artillery, Playwright, and AWS Fargate</h3>
  <ul class="summary-list-2">
    <li>
      <strong>Artillery</strong>
      <li>
        Artillery was used as the core load testing tool to simulate real-world traffic patterns and measure application performance under various load levels. Its flexibility allowed seamless integration with Playwright for end-to-end scenarios.
      </li>
    </li>
    <li>
      <strong>Playwright</strong>
      <li>
        Playwright's E2E test capabilities were leveraged to create realistic user journeys, which were integrated into the Artillery framework to run load tests that closely mirrored actual user behavior.
      </li>
    </li>
    <li>
      <strong>AWS Fargate</strong>
      <li>
        AWS Fargate provided a scalable and serverless environment to deploy and run the load tests, enabling efficient handling of high-traffic simulations without the need to manage infrastructure.
      </li>
    </li>
  </ul>
</section>
