<header class="site-header">
  {{!-- You can add a nav bar or logo here in the future --}}
</header>

<main>
  {{outlet}}
</main>

<footer class="site-footer">
  {{!-- Footer content can go here if you want --}}
</footer>
